.back{
  max-width: 100vw;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
  width: 1440px;
  height: 134px;
  position: sticky;
  z-index: 5;
  background-color: #f7f7f7;
  &__top{
    width: 100%;
    padding: 18px 0px 16px 0px;
    display: flex;
    align-items: center;
    &--menu{
      display: none;
    }
    &--katalog{
      width: 135px;
      height: 44px;
      background-color: #fdc100;
      border-radius: 8px;
      padding: 10px 16px;
      outline: none;
      border: none;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 30px;
      display: none;
    }
    &--logo{
      width: 168px;
      height: 28px;
      margin-right: 20px;
    }
    &--search{
      width: 700px;
      height: 44px;
      background-color: #fff;
      border: 2px solid #fbc100;
      display: flex;
      align-items: center;
      width: 100%;
      border-radius: 8px;
      &__select{
        height: 99%;
        outline: none;
        border: none;
        background-color: #f7f7f7f7;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        font-size: 12px;
        padding-left: 15px;
      }
      > button{
        width: 50px;
        height: 99%;
        background-color: #fbc100;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        border: none;
        outline: none;
        cursor: pointer; 
      }
    }
    &--input{
      width: 80%;
      height: 99%;
      outline: none;
      border: none;
      padding: 10px;
      cursor: pointer;
    }
    &--wrapper{
      width: 40px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      cursor: pointer;
      &__icon{
        width: 24px;
        height: 24px;
        color: rgb(179, 161, 161);
      }
    }
    &--btn{
    width: 25px;
    height: 24px;
    }
    &--wrapperIcon{
      width: 470px;
      height: 44px;
      display: flex;
      margin-left: 20px;
      justify-content: space-between;
      align-items: center;
      &__link{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 80px;
        height: 44px;
        padding: 5px;
        text-decoration: none;
        color: #333;
        outline: none;
        border: none;
        background-color: #f7f7f7;
        cursor: pointer;
        &--icon{
          width: 24px;
          height: 24px;
          color: #333;
        }
        &--text{
          font-size: 14px;
        }
      }
    }
  }
  &__bottom{
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--box{
      width: 100%;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      color: #333;
      font-size: 14px;
      &__link{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 80px;
        height: 44px;
        padding: 5px;
        text-decoration: none;
        color: #333;
        &--icon{
          width: 24px;
          height: 24px;
          color: red;
         
        }
        
      }   
    }
    &--katalog{
      width: 135px;
      height: 44px;
      background-color: #fdc100;
      border-radius: 8px;
      padding: 10px 16px;
      outline: none;
      border: none;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 30px;
    }



  }
}
@media only screen and ( max-width: 1100px){
  .header{
    padding: 0 36px;

    &__top{
      &--logo{
        width: 190px;
        height: 31px;
        margin-right: 15px;
      }
   
      &--search{
       
        background-color: #fff;
        border: 2px solid #fbc100;
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 8px;
        &__select{
          height: 99%;
          outline: none;
          border: none;
          background-color: #f7f7f7f7;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          font-size: 12px;
          padding-left: 15px;
          
        }
        > button{
          width: 50px;
          height: 99%;
          background-color: #fbc100;
          border-top-right-radius: 7px;
          border-bottom-right-radius: 7px;
          border: none;
          outline: none;
          cursor: pointer;
          
        }
        
      }
      &--input{
        width: 100%;
        height: 99%;
        outline: none;
        border: none;
        padding: 10px;
        cursor: pointer;
      }
      &--wrapper{
        width: 40px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        cursor: pointer;
        &__icon{
          width: 24px;
          height: 24px;
          color: rgb(179, 161, 161);
        }
      }
      &--btn{
      width: 25px;
      height: 24px;
      }
      &--wrapperIcon{
        width: 470px;
        height: 44px;
        display: flex;
        margin-left: 20px;
        justify-content: space-between;
        align-items: center;
      
        &__link{
         
         
          &--text{
            display: none;
          }
        }
  
      }
  
  
  
  
    }
    
    &__bottom{
      width: 100%;
      height: 54px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &--box{
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;
        
       
        &__link{
          width: auto;
          text-decoration: none;
          color: #333;
          font-size: 14px;
        }
      }
      &--katalog{
        width: 135px;
        height: 44px;
        background-color: #fdc100;
        border-radius: 8px;
        padding: 10px 16px;
        outline: none;
        border: none;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 30px;
      }
    }
  }
}
@media only screen and ( max-width: 1023px){
  .header{
    max-width: 1023px;
    height: 60px;
    padding: 0 24px;
    &__top{
      padding-top: 0;
      padding-bottom: 19px;
      &--logo{
        display: none;
      }
      &--menu{
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border: none;
        width: 32px;
        height: 32px;
        background-color: #fbc100;
        padding: 3px;
        margin-right: 15px;
        border-radius : 8px;
        margin-right: 20px;
        cursor: pointer;
      }
      &--search{
        width: 100%;
        height: 32px;
        &__select{
          display: none;
        }
        > button{
          display: none; 
        }
      }
      &--input{
        width: 100%;
        height: 99%;
        outline: none;
        border: none;
        border-radius: 8px;
      }
      &--wrapper{
        display: none;
        &__icon{
          display: none;
        }
      }
      &--wrapperIcon{
        display: none;
        &__link{
          display: none;
          &--text{
            display: none;
          }
        }
      }
    }
    &__bottom{
      display: none;
      }
    }
}
@media only screen and ( max-width: 1023px){
  .header{
    padding: 0 10px;
  }
}

